/* HAIR */

/* SHORT STRAIGHT*/
.med-bob-top {
  position: absolute;
  width: 108%;
  height: 95%;
  background: transparent;
  border-top: 2.8rem solid var(--hair);
  border-radius: 50%;
  left: -4%;
  top: -9%;
}

.med-bob-top::after {
  content: "";
  position: absolute;
  width: 1.5%;
  height: 25%;
  border-radius: 10px;
  background: var(--skin);
  left: 48.5%;
  top: -14%;
}

.med-bob-back {
  position: absolute;
  width: 60%;
  height: 58%;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  background: var(--hair);
  left: 20%;
  top: 13%;
}

/* LONG STRAIGHT */
.long-straight-top {
  position: absolute;
  width: 108%;
  height: 95%;
  background: transparent;
  border-top: 2.8rem solid var(--hair);
  border-radius: 50%;
  left: -4%;
  top: -9%;
}

.long-straight-top::after {
  content: "";
  position: absolute;
  width: 1.5%;
  height: 25%;
  border-radius: 10px;
  background: var(--skin);
  left: 48.5%;
  top: -14%;
}

.long-straight-back {
  position: absolute;
  width: 58%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
  left: 21%;
  top: 13%;
}

.long-straight-back::after {
  content: "";
  position: absolute;
  height: 35%;
  width: 45%;
  border-radius: 50%;
  background: var(--circle);
  bottom: -3%;
  left: 27%;
}

/* LONG STRAIGHT SIDE */
.long-side-top {
  position: absolute;
  width: 102%;
  height: 95%;
  background: transparent;
  border-top: 2.5rem solid var(--hair);
  border-radius: 50%;
  left: -1%;
  top: -9%;
}

.long-side-top::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 20px;
  background: transparent;
  border-left: 3px solid var(--skin);
  transform: rotate(-25deg);
  left: 21%;
  top: -7%;
}

.long-side-back {
  position: absolute;
  width: 58%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
  left: 21%;
  top: 13%;
}

.long-side-back::before {
  content: "";
  position: absolute;
  height: 35%;
  width: 45%;
  border-radius: 50%;
  background: var(--circle);
  bottom: -3%;
  left: 27%;
}

/* MEDIUM CURLY */

.med-curls-front {
  position: absolute;
  width: 75%;
  height: 39%;
  border-radius: 50%;
  background: var(--hair);
  box-shadow: 0px 4px 0px 0px var(--shadow);
  top: -12%;
  left: 20%;
  z-index: 5;
}

.med-curls-front::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 85%;
  border-radius: 50%;
  background: var(--hair);
  left: -70%;
  top: 50%;
  transform: rotate(-48deg);
}

.med-curls-front::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 90%;
  border-radius: 50%;
  background: var(--hair);
  left: 66%;
  top: 55%;
  transform: rotate(40deg);
  z-index: -1;
}

.med-curls-back {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: var(--hair);
  top: 28%;
  left: 21%;
}

.med-curls-back::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background: var(--hair);
  top: 60%;
  left: -15%;
}

.med-curls-back::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
  top: 100%;
  left: 45%;
}

.med-curls-back2 {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: var(--hair);
  top: 28%;
  right: 21%;
  transform: scaleX(-1);
}

.med-curls-back2::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background: var(--hair);
  top: 60%;
  left: -15%;
}

.med-curls-back2::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
  top: 100%;
  left: 45%;
}

/* BUN */

.bun-top {
  position: absolute;
  width: 98%;
  height: 70%;
  background: transparent;
  border-top: 2.3rem solid var(--hair);
  border-radius: 50%;
  left: 1%;
  top: -4%;
}

.bun-top::after {
  content: "";
  width: 48%;
  height: 50%;
  border-radius: 50%;
  background: var(--hair);
  left: 26%;
  top: -60%;
  position: absolute;
  z-index: -2;
}

.bun-top::before {
  content: "";
  position: absolute;
  width: 46%;
  height: 25%;
  border-radius: 50%;
  background: var(--hair-shadow);
  left: 27%;
  top: -34%;
  z-index: -1;
}

/* SHORT  */
.short-hair {
  position: absolute;
  width: 97%;
  height: 60%;
  background: transparent;
  border-top: 2.5rem solid var(--hair);
  border-radius: 50%;
  left: 1.5%;
  top: -2%;
}

.short-hair::after {
  content: "";
  position: absolute;
  background: var(--skin);
  width: 92%;
  height: 20%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  left: 4%;
  top: -1%;
}

/* CURLY TOP */
.curly-top {
  position: absolute;
  width: 97%;
  height: 60%;
  background: transparent;
  border-top: 2.5rem solid var(--hair);
  border-radius: 50%;
  left: 1.5%;
  top: -2%;
}

.curly-top::after {
  content: "";
  position: absolute;
  background: var(--skin);
  width: 92%;
  height: 20%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: 4%;
  top: -1%;
}

.curly-top-back {
  position: absolute;
  width: 8%;
  height: 12%;
  border-radius: 50%;
  background: var(--hair);
  left: 33%;
  top: 17%;
  transform: rotate(-10deg);
}

.curly-top-back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--hair);
  left: 75%;
  top: -20%;
  transform: rotate(0deg);
}

.curly-top-back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--hair);
  left: 150%;
  top: -20%;
  transform: rotate(0deg);
}

.curly-top-back2 {
  position: absolute;
  width: 8%;
  height: 12%;
  border-radius: 50%;
  background:  var(--hair);
  left: 49%;
  top: 13%;
  transform: rotate(5deg);
}

.curly-top-back2::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 100%;
  border-radius: 50%;
  background: var(--hair);
  left: 80%;
  top: 8%;
  transform: rotate(0deg);
}

.curly-top-back2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--hair);
  left: 120%;
  top: 19%;
  transform: rotate(15deg);
}

/* PONYTAIL */
.pony-top {
  position: absolute;
  width: 98%;
  height: 70%;
  background: transparent;
  border-top: 2.3rem solid var(--hair);
  border-radius: 50%;
  left: 1%;
  top: -4%;
}

.pony-top::after {
  content: "";
  width: 40%;
  height: 50%;
  border-radius: 50%;
  background: var(--hair);
  left: 29%;
  top: -56%;
  position: absolute;
  z-index: -2;
}

.pony-top::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 25%;
  border-radius: 50%;
  background: var(--hair-shadow);
  left: 29.5%;
  top: -34%;
  z-index: -1;
}

.pony-back {
  position: absolute;
  width: 10%;
  height: 58%;
  background: transparent;
  border-radius: 50%;
  border: 2.7rem solid;
  border-color: transparent var(--hair) transparent transparent;
  left: 12%;
  top: 10%;
  transform: rotate(15deg);
}
