@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
  --skin: #8a6247;
  --shadow: #6b4c37;
  --hair: #e184b6;
  --hair-shadow: #925576;
  --brows: #7d7364;
  --eye: #351f0e;
  --black: #1a1a1a;
  --circle: white;
  --background: #bababa;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  font-family: "Lato", sans-serif;
  color: #292929;
  font-weight: 400;
  font-size: 1.2rem;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

label {
  display: block;
}

.input-container div {
  margin: 0 2%;
  text-align: center;
}

input[type="color"] {
  width: 45px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 5px 0;
  color: var(--background);
  background-color: var(--background);
  border-bottom: 2px solid var(--background);
}

input::-webkit-color-swatch {
  border: 1px solid #292929;
  border-radius: 10px;
}

input:hover {
  cursor: pointer;
}

.container {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  background: var(--circle);
}

.head {
  position: absolute;
  width: 36%;
  height: 48%;
  border-radius: 50%;
  background: var(--skin);
  left: 32%;
  top: 18%;
  z-index: 2;
}

.hair-top {
  position: absolute;
  width: 108%;
  height: 95%;
  background: transparent;
  border-top: 2.8rem solid var(--hair);
  border-radius: 50%;
  left: -4%;
  top: -9%;
}

.hair-top::after {
  content: "";
  position: absolute;
  width: 1.5%;
  height: 25%;
  border-radius: 10px;
  background: var(--skin);
  left: 48.5%;
  top: -14%;
}

.hair {
  position: absolute;
  width: 60%;
  height: 58%;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  background: var(--hair);
  box-shadow: 0px 2px 0px 0px var(--hair-shadow);
  left: 20%;
  top: 14%;
}

.hair-long {
  position: absolute;
  width: 60%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
  box-shadow: 0 0 2px var(--hair-shadow);
  left: 20%;
  top: 14%;
}

.hair-long::after {
  content: '';
  position: absolute;
  height: 35%;
  width: 45%;
  border-radius: 50%;
  background: var(--circle);
  bottom: -3%;
  left: 27%;
}

.curls-front {
  position: absolute;
  width: 75%;
  height: 39%;
  border-radius: 50%;
  background: var(--hair);
  box-shadow: 0px 4px 0px 0px var(--shadow);
/*   border-left: 1px solid var(--hair-shadow); */
    top: -12%;
  left: 20%;
    z-index: 5;
}


.curls-front::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 85%;
  border-radius: 50%;
  background: var(--hair);
  left: -70%;
  top: 50%;
  transform: rotate(-48deg);
}
.curls-front::after {
  content: '';
  position: absolute;
  width: 92%;
  height: 90%;
  border-radius: 50%;
  background: var(--hair);

  left: 66%;
  top: 55%;
    transform: rotate(40deg);
  z-index: -1;
}

.curls-back {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: var(--hair);
    top: 28%;
  left: 21%;
}

.curls-back::before {
  content: '';
  position: absolute;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background: var(--hair);
    top: 60%;
  left: -15%;
}

.curls-back::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
    top: 100%;
  left: 45%;
}

.curls-back2 {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: var(--hair);
    top: 28%;
  right: 21%;
  transform: scaleX(-1);
}

.curls-back2::before {
  content: '';
  position: absolute;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  background: var(--hair);
    top: 60%;
  left: -15%;
}

.curls-back2::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 80%;
  border-radius: 50%;
  background: var(--hair);
    top: 100%;
  left: 45%;
}




.eye {
  position: absolute;
  width: 22%;
  height: 8%;
  border-radius: 50%;
  background: transparent;
  border-top: 5px solid var(--shadow);
  transform: rotate(3deg);
  top: 47%;
}

.eye-left {
  left: 18%;
}

.eye-right {
  right: 18%;
  transform: scaleX(-1) rotate(3deg);
}

.eye::before {
  content: "";
  position: absolute;
  width: 53%;
  height: 95%;
  border-radius: 50%;
  background: var(--eye);
  top: -5%;
  left: 24%;
}

.eye::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  border-top: 3px solid black;
  top: -13%;
}

.brow {
  position: absolute;
  width: 26%;
  height: 8%;
  border-radius: 50%;
  background: transparent;
  border: 3px solid;
  border-color: var(--hair) transparent transparent transparent;
}

.brow-left {
  left: 13%;
  top: 42%;
}

.brow-right {
  right: 13%;
  top: 42%;
}

.nose {
  position: absolute;
  width: 15%;
  height: 5%;
  background: var(--shadow);
  top: 67%;
  left: 43%;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
}

.mouth {
  position: absolute;
  width: 28%;
  height: 10%;
  background: transparent;
  border-radius: 50%;
  border: 2px solid;
  border-color: transparent transparent var(--black) transparent;
  top: 69%;
  left: 35%;
}

.ear {
  position: absolute;
  width: 15%;
  height: 22%;
  background: var(--skin);
  border-radius: 55% 45% 0% 100% / 48% 21% 79% 52%;
  z-index: 5;
}

.left-ear {
  top: 46%;
  left: -12%;
  transform: rotate(-18deg);
}

.right-ear {
  top: 46%;
  right: -12%;
  transform: rotate(18deg) scaleX(-1);
}

.neck {
  position: absolute;
  width: 17%;
  height: 23%;
  background: var(--skin);
  top: 55%;
  left: 41.5%;
  border-radius: 30px;
}

.neck::after {
  content: "";
  position: absolute;
  background: var(--shadow);
  width: 100%;
  height: 30%;
  top: 26%;
  border-radius: 50%;
}
