@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700;800&display=swap');

:root {
  --skin: #8a6247;
  --shadow: #6b4c37;
  --hair: #e184b6;
  --hair-shadow: #b46991;
  /* --brows: #7d7364; */
  --eye: #351f0e;
  --black: #1a1a1a;
  --circle: white;
  --background: #cdc7f1;
  --accent: #958adf;
  --darker-accent:#665da5;
  --font-color: #322b5e;
  --yellow: #fff8d5;
  --pink: rgb(240, 132, 215);
}
/* 
--background: #ccb7d2;
--accent: #9f7fa9;
--darker-accent:#7a5b83; */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 300ms;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--font-color);
  font-weight: 400;
}

.flex-container {
  display: flex;
  height: 100vh;
  /* padding-top: 7vh; */
}

.left {
  background: var(--background);
  width: 50%;
  height: 100%;
  position: relative;
}

.right {
  width: 50%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
}

/* .top-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

h1 {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  justify-self: center; 
} */

.code-container {
  background: var(--background);
  border-radius: 10px;
  width: 70%;
  height: 540px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 5%;
  left: 0;
  bottom: 0;
  right: 0;
}

.avatar-input-container {
  /* border: 1px solid; */
  width: 400px;
  height: 540px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 8%;
  left: 0;
  bottom: 0;
  right: 0;
}

