  .code-container textarea, .code-container input {
    background: var(--accent);
    margin: 0 5% 1rem 5%;
    height: 32%;
    width: 84%;
    overflow: scroll;
    display: block;
    border: none;
    resize: none;
    font-size: 1rem;
    color: var(--font-color);
  }

  .code-container textarea {
    border-radius: 4px;
  }

  .code-container .button-container {
    margin: 1rem 5%;
    display: flex;
    justify-content: space-between;
  }

  .button-container button {
    background: var(--accent);
    color: white;
    font-weight: 400;
    border: none;
    padding: .5rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1rem;
    /* transition: background 500ms; */
  }

  #generate {
    background: white;
    border: 2px solid var(--accent);
    color: var(--darker-accent);
  }

  .button-container button:hover {
    color: var(--accent);
    background: white;
    border: 2px solid var(--accent);
    transition: background 300ms;
  }

  #generate:hover {
    color: white;
    background: var(--accent);
    border: 2px solid white;
  }

  #html-code, #css-code {
    padding: 1rem 3%;
  }