nav {
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
  z-index: 3;
  position: absolute;
}

#nav-wrapper {
  width: 92%;
  height: 100%;
  margin: auto;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
}

#h1-wrapper {
  position: relative;
}


h1 {
  font-size: 2.3rem;
  font-weight: 800;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: white;
  letter-spacing: -1px;
  white-space: nowrap;
  user-select: none;
  -webkit-text-stroke: 1px var(--darker-accent);
  text-shadow: 3px 3px 0 var(--accent), -1px -1px 0 var(--accent),
    1px -1px 0 var(--accent), -1px 1px 0 var(--accent), 1px 1px 0 var(--accent);
  /* position: relative; */
}


#github-link {
  position: absolute;
  left: 1.5%;
  font-size: 0.95rem;
  top: 78%;
  text-shadow: none;
  font-weight: 800;
  -webkit-text-stroke: 1px;
  color: #8f85d5;
}

#github-link a {
    color: #8f85d5;
}
#github-link a:hover {
    color:  #fff8d5;
}

.star {
  position: absolute;
  font-size: 1.5rem;
  color: var(--yellow);
  filter: opacity(0);
  text-shadow: none;
  user-select: none;
  -webkit-text-stroke: 1px var(--darker-accent);
  text-shadow: 3px 3px 0 var(--accent), -1px -1px 0 var(--accent),
    1px -1px 0 var(--accent), -1px 1px 0 var(--accent), 1px 1px 0 var(--accent);
}

#star1 {
  top: 8%;
  left: -5%;
  animation: twinkle 1s linear 10ms infinite;
}

#star2 {
  top: 50%;
  left: 38%;
  animation: twinkle 1s linear 300ms infinite;
}

#star3 {
  top: -3%;
  left: 58%;
  animation: twinkle 1s linear 500ms infinite;
}

#star4 {
  top: 40%;
  left: 85%;
  animation: twinkle 1s linear 800ms infinite;
}

@keyframes twinkle {
  0% {
    transform: scale(0.3);
  }
  10% {
    filter: opacity(0.5);
  }
  90% {
    filter: opacity(1);
    transform: scale(1.1);
  }
}
